@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  @apply antialiased bg-slate-800 text-gray-300;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-slate-100 text-gray-600;
  }
}
